body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0; /* Light grey background */
    font-family: 'Arial', sans-serif;
}

/* Calculator container */
#calculator {
    background-color: #1b1b1b; /* Dark grey background */
    border-radius: 15px;
    padding: 20px;
    max-width: 600px;
    color: white;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Slight shadow */
}

/* Header style */
h1 {
    margin-bottom: 20px;
}

/* Button container style */
.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* General button style */
button {
    padding: 15px 0;
    width: 45%;
    border: none;
    border-radius: 5px;
    background-color: #0e76a8; /* blue */
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #128fdc; /* Darker blue on hover */
}

button:active {
    background-color: #147eb2; /* Darkest blue on click */
}

/* WhatsApp button style */
.whatsapp-btn {
    display: block;
    margin-top: 20px;
    padding: 15px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: #238636; /* Green */
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #2ea043; /* Darker green on hover */
}

.whatsapp-btn:active {
    background-color: #30b145; /* Darkest green on click */
}

/* Footer credit style */
.credit {
    margin-top: 20px;
    font-size: 0.8rem;
    color: #666;
}

/* Input group style */
.input-group {
    margin: 10px 0;
    text-align: start;
    padding-left: 10px;
   }

/* Label style */
label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    color: #333; /* Dark grey */
}

/* Input style */
input {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 5px;
}

/* Placeholder style */
input::placeholder {
    color: #999; /* Light grey placeholder text */
}

/* Tooltip style */
.tooltip {
    position: relative;
    cursor: help;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #1b1b1b; /* Dark grey tooltip background */
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* Results container style */
.results-container {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Slight shadow */
}

/* Individual result style */
.result {
    margin-top: 10px;
    font-weight: bolder;
    font-size: 1.2rem;
    background-color: #9c2d2d; /* Dark red */
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.result span {
    font-weight: bold;
}

/* Calculate and Go Back button style */
button.calculate-btn, button.go-back-btn {
    margin-top: 20px;
    padding: 15px 0;
    width: 45%;
    border: none;
    border-radius: 5px;
    background-color: #238636; /* Green */
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.go-back-btn {
    background-color: #8c2b2b; /* Dark red for Go Back button */
}

button.calculate-btn:hover, button.go-back-btn:hover {
    background-color: #2ea043; /* Darker green on hover */
}

button.calculate-btn:active, button.go-back-btn:active {
    background-color: #30b145; /* Darkest green on click */
}

.credit{
    font-size: 1rem;
    
}